<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (C) 2021, 1C-Soft LLC and others.
   
    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        1C-Soft LLC - initial API and implementation
 -->

<plugin>
   <extension
         point="com.e1c.g5.v8.dt.check.checks">
      <category
            category="com.e1c.v8codestyle"
            description="%category.form.description"
            id="com.e1c.v8codestyle.form"
            title="%category.form.title">
      </category>
      <check
            category="com.e1c.v8codestyle.form"
            class="com.e1c.v8codestyle.internal.form.ExecutableExtensionFactory:com.e1c.v8codestyle.form.check.InputFieldListChoiceMode">
      </check>
      <check
            category="com.e1c.v8codestyle.form"
            class="com.e1c.v8codestyle.internal.form.ExecutableExtensionFactory:com.e1c.v8codestyle.form.check.DynamicListItemTitleCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.form"
            class="com.e1c.v8codestyle.internal.form.ExecutableExtensionFactory:com.e1c.v8codestyle.form.check.FormListRefUseAlwaysFlagDisabledCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.form"
            class="com.e1c.v8codestyle.internal.form.ExecutableExtensionFactory:com.e1c.v8codestyle.form.check.FormListRefUserVisibilityEnabledCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.form"
            class="com.e1c.v8codestyle.internal.form.ExecutableExtensionFactory:com.e1c.v8codestyle.form.check.FormItemsSingleEventHandlerCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.form"
            class="com.e1c.v8codestyle.internal.form.ExecutableExtensionFactory:com.e1c.v8codestyle.form.check.FormListFieldRefNotAddedCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.form"
            class="com.e1c.v8codestyle.internal.form.ExecutableExtensionFactory:com.e1c.v8codestyle.form.check.FormCommandsSingleEventHandlerCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.form"
            class="com.e1c.v8codestyle.internal.form.ExecutableExtensionFactory:com.e1c.v8codestyle.form.check.DataCompositionConditionalAppearanceUseCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.form"
            class="com.e1c.v8codestyle.internal.form.ExecutableExtensionFactory:com.e1c.v8codestyle.form.check.DataCompositionNameVariantDefaultCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.form"
            class="com.e1c.v8codestyle.form.check.FormItemVisibleSettingsByRolesCheck">
      </check>
   </extension>
   <extension
         point="com.e1c.g5.v8.dt.check.fixes">
      <fix
            class="com.e1c.v8codestyle.internal.form.ExecutableExtensionFactory:com.e1c.v8codestyle.form.fix.DynamicListItemTitleGenerateFix">
      </fix>
      <fix
            class="com.e1c.v8codestyle.internal.form.ExecutableExtensionFactory:com.e1c.v8codestyle.form.fix.DynamicListFieldTitleGenerateFix">
      </fix>
   </extension>

</plugin>
