<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (C) 2021, 1C-Soft LLC and others.
   
    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        1C-Soft LLC - initial API and implementation
 -->

<plugin>
   <extension
         point="com.e1c.g5.v8.dt.check.checks">
      <category
            category="com.e1c.v8codestyle"
            description="%category.ql.description"
            id="com.e1c.v8codestyle.ql"
            title="%category.ql.title">
      </category>
      <check
            category="com.e1c.v8codestyle.ql"
            class="com.e1c.v8codestyle.internal.ql.ExecutableExtensionFactory:com.e1c.v8codestyle.ql.check.CamelCaseStringLiteral">
      </check>
      <check
            category="com.e1c.v8codestyle.ql"
            class="com.e1c.v8codestyle.internal.ql.ExecutableExtensionFactory:com.e1c.v8codestyle.ql.check.JoinToSubQuery">
      </check>
      <check
            category="com.e1c.v8codestyle.ql"
            class="com.e1c.v8codestyle.internal.ql.ExecutableExtensionFactory:com.e1c.v8codestyle.ql.check.CastToMaxNumber">
      </check>
      <check
            category="com.e1c.v8codestyle.ql"
            class="com.e1c.v8codestyle.internal.ql.ExecutableExtensionFactory:com.e1c.v8codestyle.ql.check.TempTableHasIndex">
      </check>
      <check
            category="com.e1c.v8codestyle.ql"
            class="com.e1c.v8codestyle.internal.ql.ExecutableExtensionFactory:com.e1c.v8codestyle.ql.check.UsingForUpdateCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.ql"
            class="com.e1c.v8codestyle.internal.ql.ExecutableExtensionFactory:com.e1c.v8codestyle.ql.check.VirtualTableFiltersCheck">
      </check>
   </extension>

</plugin>
