<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (C) 2021, 1C-Soft LLC and others.
   
    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        1C-Soft LLC - initial API and implementation
        Aleksandr Kapralov - issue #17, #449, #458
 -->

<plugin>
   <extension
         point="com.e1c.g5.v8.dt.check.checks">

      <category
            category="com.e1c.v8codestyle"
            description="%category.bsl.description"
            id="com.e1c.v8codestyle.bsl"
            title="%category.bsl.title">
      </category>
      <category
            category="com.e1c.v8codestyle.bsl"
            description="%category.bsl.strict.description"
            id="com.e1c.v8codestyle.bsl.strict"
            title="%category.bsl.strict.title">
      </category>
      <check
            category="com.e1c.v8codestyle.bsl"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.check.StructureCtorTooManyKeysCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.check.QueryInLoopCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.check.EventDataExchangeLoadCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl"
            class="com.e1c.v8codestyle.bsl.check.EmptyExceptStatementCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.check.NstrStringLiteralFormatCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.check.CanonicalPragmaCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.check.ChangeAndValidateInsteadOfAroundCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl.strict"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.strict.check.MethodParamTypeCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl.strict"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.strict.check.VariableTypeCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl.strict"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.strict.check.DynamicFeatureAccessTypeCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl.strict"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.strict.check.DynamicFeatureAccessMethodNotFoundCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl.strict"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.strict.check.SimpleStatementTypeCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl.strict"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.strict.check.InvocationParamIntersectionCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl.strict"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.strict.check.FunctionReturnTypeCheck">
      </check>
      <!-- Disabled untill release 2021.2.6+
      <check
            category="com.e1c.v8codestyle.bsl.strict"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.strict.check.FunctionCtorReturnSectionCheck">
      </check> 
      -->
      <check
            category="com.e1c.v8codestyle.bsl.strict"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.strict.check.DocCommentFieldTypeCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl.strict"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.strict.check.StructureCtorValueTypeCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.check.EventHandlerBooleanParamCheck">
      </check>
      <check
            category="com.e1c.v8codestyle.bsl"
            class="com.e1c.v8codestyle.internal.bsl.ExecutableExtensionFactory:com.e1c.v8codestyle.bsl.comment.check.DocCommentUseMinusCheck">
      </check>

   </extension>

</plugin>
