<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (C) 2021, 1C-Soft LLC and others.
   
    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        1C-Soft LLC - initial API and implementation
        Aleksandr Kapralov - issue #20
 -->

<plugin>
   <extension
         point="com.e1c.g5.v8.dt.check.checks">
      <category
            category="com.e1c.v8codestyle"
            description="%category.right.description"
            id="com.e1c.v8codestyle.right"
            title="%category.right.title">
      </category>
      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.RightInteracitveDelete">
      </check>
      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.RightInteracitveDeletePredefinedData">
      </check>
      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.RightInteracitveDeleteMarkedPredefinedData">
      </check>
      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.RightInteractiveClearDeletionMarkPredefinedData">
      </check>
      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.RightInteractiveSetDeletionMarkPredefinedData">
      </check>
      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.RoleRightHasRls">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.ActiveUsersRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.AdministrationRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.AllFunctionsModeRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.ConfigurationExtensionsAdministrationRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.DataAdministrationRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.ExclusiveModeRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.InteractiveOpenExternalDataProcessorsRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.InteractiveOpenExternalReportsRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.OutputToPrinterFileClipboardRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.SaveUserDataRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.StartAutomationRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.StartExternalConnectionRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.StartThickClientRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.StartThinClientRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.StartWebClientRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.UpdateDatabaseConfigurationRight">
      </check>

      <check
            category="com.e1c.v8codestyle.right"
            class="com.e1c.v8codestyle.internal.right.ExecutableExtensionFactory:com.e1c.v8codestyle.right.check.ViewEventLogRight">
      </check>

   </extension>

</plugin>
